/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Alegreya";
  src: url(../fonts/Alegreya-Regular.ttf);
}
@font-face {
  font-family: "Scriptina";
  src: url(../fonts/SCRIPTIN.ttf);
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Regular.ttf);
}
@font-face {
  font-family: "Alegreya-Bold";
  src: url(../fonts/Alegreya-Bold.ttf);
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/times.ttf);
}
.introduction *, .introduction, .header .container *, .header .container, .header, .nav .social-media, .nav .navigation__item, .nav .navigation, .nav .container .nav__logo, .nav .container .nav__wrapper, .nav .container, .nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

body {
  position: relative;
}

.nav {
  width: 100%;
  background-color: rgba(86, 83, 76, 0.53);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  z-index: 1000;
}
.nav .container {
  max-width: 1260px;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-content: center;
}
.nav .container .nav__wrapper {
  height: 100%;
}
.nav .container .nav__logo {
  margin: 0;
  font-family: "Scriptina";
  font-size: 2em;
  color: white;
  align-self: center;
}
.nav .navigation {
  height: 100%;
  max-width: 770px;
  width: 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-between;
}
.nav .navigation__item {
  font-family: "Alegreya";
  font-size: 19px;
  text-transform: uppercase;
  color: white;
  align-self: center;
}
.nav .social-media .instagram, .nav .social-media .facebook, .nav .social-media .twitter {
  background-image: url(../images/social-media.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.nav .social-media {
  height: 100%;
  justify-content: space-between;
  align-content: center;
}
.nav .social-media__link {
  align-self: center;
  min-width: 20px;
  min-height: 70px;
}
.nav .social-media .facebook {
  background-position: 20px;
}
.nav .social-media .instagram {
  background-position: 34px;
}

.header {
  background-image: url(../images/header_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.header .container {
  width: 1260px;
  width: 100%;
  justify-content: center;
  flex-flow: column nowrap;
  min-height: 900px;
  height: 100%;
}
.header .container * {
  align-self: center;
  color: white;
}
.header .container .header__header {
  font-family: "PlayfairDisplay", serif;
  font-size: 50px;
  margin: 70px;
}
.header .container .header__text {
  font-family: "ProximaNova", serif;
  font-size: 25px;
  margin: 20px;
  text-align: center;
}
.header .container .header__button {
  max-width: 200px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 83, 76, 0.53);
  font-family: "Alegreya-Bold";
  margin: 15px;
  justify-content: center;
}

.introduction {
  background-color: #fefdfb;
  justify-content: center;
  height: 760px;
}
.introduction__container {
  max-width: 1260px;
  width: 100%;
  justify-content: space-around;
}
.introduction .article {
  width: 50%;
  justify-content: center;
}
.introduction .article__container {
  width: 83%;
  flex-flow: column wrap;
  justify-content: center;
}
.introduction .article__header {
  width: 100%;
  font-family: "Alegreya-Bold";
  font-size: 60px;
  color: #56534c;
  margin-top: 10px;
  justify-content: center;
}
.introduction .article__header.small.red {
  color: #a47d5e;
  font-size: 20px;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.introduction .article__text {
  width: 100%;
  font-family: "ProximaNova", serif;
  color: #56534c;
  margin-bottom: 70px;
  text-align: center;
}
.introduction .article h3 {
  width: 100%;
  font-family: "Alegreya-Bold";
  font-size: 30px;
  color: #56534c;
  justify-content: center;
  margin-bottom: 40px;
}
.introduction .article__chef {
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 25px;
}
.introduction .article__chef__text {
  font-family: "Alegreya", serif;
  font-size: 28px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  align-self: center;
  padding: 16px;
}
.introduction .article__chef__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../images/chef.png) no-repeat;
  background-size: 250%;
  background-position: -40px -2px;
}
.introduction .article .blockquote {
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}
.introduction .article .blockquote__quote {
  font-family: "TimesNewRoman", serif;
  font-size: 70px;
  align-self: flex-start;
  color: rgba(86, 83, 76, 0.5);
}
.introduction .article .blockquote__text {
  font-family: "Scriptina", sans-serif;
  color: #a47d5e;
  text-align: center;
  align-self: center;
  padding: 50px;
}
.introduction .article .blockquote__quote.rotate {
  transform: rotate(180deg);
  align-self: flex-end;
  margin-top: 70px;
}
.introduction .gallery {
  width: 50%;
  justify-content: space-between;
  position: relative;
  flex-flow: row wrap;
  align-content: center;
}
.introduction .gallery__photo {
  max-height: 250px;
  height: 100%;
  max-width: 295px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  justify-content: center;
  margin: 10px;
}
.introduction .gallery__photo__border {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border: 5px solid white;
  align-self: center;
}
.introduction .gallery .top-left {
  background-image: url(../images/gallery-top-left.jpg);
}
.introduction .gallery .top-right {
  background-image: url(../images/gallery-top-right.jpg);
}
.introduction .gallery .bottom-left {
  background-image: url(../images/gallery-bottom-left.jpg);
  background-size: 100% auto;
}
.introduction .gallery .bottom-right {
  background-image: url(../images/gallery-bottom-right.jpg);
}
.introduction .gallery__text__bg {
  position: absolute;
  align-self: center;
  height: 100%;
  width: 100%;
  background: url(../images/gallery-text-bg.png) center no-repeat;
  justify-content: center;
  position: absolute;
  z-index: 8;
  height: 100%;
}
.introduction .gallery__text {
  width: 36%;
  align-self: center;
  z-index: 10;
  text-transform: uppercase;
  font-family: "Alegreya", serif;
  color: #c9b176;
  font-size: 32px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
