/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Alegreya';
  src: url(../fonts/Alegreya-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Alegreya-Bold';
  src: url(../fonts/Alegreya-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Scriptina';
  src: url(../fonts/Scriptina.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../fonts/PlayfairDisplay-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Times New Roman';
  font-weight: normal;
  font-style: normal; }

.logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: "Scriptina", sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  letter-spacing: 8.9px; }

body {
  position: relative; }

.menu {
  position: fixed;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(86, 83, 76, 0.53); }
  .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1260px;
    width: 100%;
    height: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu.active {
    background-color: black; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  max-width: 770px;
  width: 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .navigation__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70px;
    color: white; }
  .navigation__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Alegreya", serif;
    font-size: 14px;
    letter-spacing: 3.99px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    list-style: none; }
    .navigation__link:before {
      position: absolute;
      padding: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      background: -webkit-radial-gradient(center, ellipse, rgba(86, 83, 76, 0.5) 15px, 31px, rgba(86, 83, 76, 0), transparent);
      background: -o-radial-gradient(center, ellipse, rgba(86, 83, 76, 0.5) 15px, 31px, rgba(86, 83, 76, 0), transparent);
      background: radial-gradient(ellipse at center, rgba(86, 83, 76, 0.5) 15px, 31px, rgba(86, 83, 76, 0), transparent);
      -webkit-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      opacity: 0;
      content: ""; }
    .navigation__link:hover:before {
      padding: 30px;
      -webkit-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      opacity: 1; }
  .navigation__decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 70px;
  margin-left: 25px;
  margin-right: 8px; }
  .social-media__link {
    margin-left: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 20px;
    height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .social-media__link:before {
      position: absolute;
      margin-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 18px;
      min-width: 20px;
      opacity: 0;
      -webkit-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      content: ""; }
    .social-media__link:hover .social-media__icon {
      opacity: 0;
      -webkit-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
    .social-media__link:hover:before {
      opacity: 1;
      -webkit-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
    .social-media__link.twitter:before {
      background: url(../images/social-icons/twitter-brands-red.svg) no-repeat 0; }
    .social-media__link.facebook:before {
      margin-left: 13px;
      background: url(../images/social-icons/facebook-f-brands-red.svg) no-repeat 0; }
    .social-media__link.instagram:before {
      background: url(../images/social-icons/instagram-brands-red.svg) no-repeat 0; }
  .social-media__icon {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 18px;
    max-width: inherit;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
    .social-media__icon:first-child {
      margin-right: 2px; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/intro/header_background.png);
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: auto 105%; }
  .intro__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1260px;
    width: 100%;
    min-height: 900px;
    height: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
  .intro__main-title {
    margin-top: 275px;
    margin-left: 5px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "PlayfairDisplay", serif;
    font-size: 92px;
    color: white;
    letter-spacing: 6.4px;
    word-spacing: -0.7px; }
  .intro__main-decor {
    position: absolute;
    top: 47.9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 14px;
    background: url(../images/intro/intro-dashed.line.png) no-repeat center;
    background-size: auto 100%; }
  .intro__main-text {
    margin: 50px;
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-family: "ProximaNova", serif;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 35px;
    color: white; }
  .intro__button {
    padding-left: 13px;
    margin: 15px auto;
    bottom: 200px;
    left: calc(50% - (233px / 2));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 200px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: "Alegreya", serif;
    font-weight: bold;
    letter-spacing: 4.5px;
    line-height: 50px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(86, 83, 76, 0.53);
    border: 1px dashed #84827d;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .intro__button:hover {
      background-color: rgba(86, 83, 76, 0.65);
      -webkit-box-shadow: 0 0 50px #56534c;
      box-shadow: 0 0 50px #56534c;
      border-color: rgba(0, 0, 0, 0.6);
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: left .01s ease .4s;
  -o-transition: left .01s ease .4s;
  transition: left .01s ease .4s; }
  .popup:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0);
    -webkit-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    transition: background-color .4s ease;
    z-index: 0; }
  .popup.active {
    left: 0;
    -webkit-transition: left .01s ease;
    -o-transition: left .01s ease;
    transition: left .01s ease; }
    .popup.active:before {
      background-color: rgba(247, 247, 247, 0.8); }
  .popup.active .popup__container {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .3s ease, -webkit-transform .4s ease;
    transition: opacity .3s ease, -webkit-transform .4s ease;
    -o-transition: transform .4s ease, opacity .3s ease;
    transition: transform .4s ease, opacity .3s ease;
    transition: transform .4s ease, opacity .3s ease, -webkit-transform .4s ease; }
  .popup__container {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 50px 41px 49px;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
    background-color: transparent;
    -webkit-transition: opacity .3s ease, -webkit-transform .35s ease;
    transition: opacity .3s ease, -webkit-transform .35s ease;
    -o-transition: transform .35s ease, opacity .3s ease;
    transition: transform .35s ease, opacity .3s ease;
    transition: transform .35s ease, opacity .3s ease, -webkit-transform .35s ease;
    z-index: 999; }

.registration {
  position: absolute;
  top: 230px;
  left: 480px;
  z-index: 999;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 230px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 150px black;
  box-shadow: 0 0 150px black;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .registration__global-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    opacity: 1;
    visibility: visible; }
    .registration__global-wrapper.hidden {
      opacity: 0;
      visibility: hidden; }
  .registration__close-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden; }
    .registration__close-wrapper.visible {
      opacity: 1;
      visibility: visible; }
  .registration__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .registration__wrapper.half {
      margin-top: 35px;
      width: 50%; }
  .registration__small-popup {
    position: absolute;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    min-height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #DFDFDF; }
    .registration__small-popup.active {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      opacity: 1;
      visibility: visible; }
  .registration__input {
    width: 100%;
    border-radius: 15px;
    text-align: center; }
    .registration__input.small {
      width: 90%; }
  .registration__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    border-radius: 15px; }
  .registration__title {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .registration__title-text {
      width: auto;
      text-align: center;
      text-decoration: underline;
      font-size: 30px; }
  .registration__text {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .registration__text-text {
      font-size: 20px;
      color: #989; }
  .registration__button-close {
    position: absolute;
    z-index: 1050;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    border: none;
    border-top-right-radius: 25px;
    background-color: red;
    cursor: pointer; }
  .registration__popup-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 25px; }

.art-of-cakes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 760px;
  background-color: #fefdfb; }
  .art-of-cakes__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1260px;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .art-of-cakes__object {
    position: absolute;
    top: -48px;
    right: 1px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 106px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../images/art-of-cakes/art-of-cakes-object.png) no-repeat center;
    background-size: auto 100%; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 83%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .article__title {
    margin-top: 100px;
    margin-left: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 48px;
    color: #56534c;
    word-spacing: 0.5px;
    letter-spacing: 1.5px; }
  .article__title.small.red {
    margin-top: 12px;
    margin-left: 1px;
    letter-spacing: 1.41px;
    color: #a47d5e;
    font-size: 14px;
    text-transform: uppercase; }
  .article__text {
    margin-top: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-family: "ProximaNova", serif;
    color: #56534c;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 24px;
    text-align: center; }
  .article__chef-title {
    margin-top: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.5px;
    word-spacing: 0.29px;
    color: #56534c; }
  .article__chef {
    position: relative;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .article__chef__text {
      margin-top: -15px;
      padding-top: 17px;
      padding-bottom: 17px;
      -ms-flex-item-align: center;
      align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 115px;
      font-family: "Alegreya", serif;
      font-size: 24px;
      letter-spacing: 1px;
      border-top: 1px solid #d7d5ca;
      border-bottom: 1px solid #d7d5ca; }
    .article__chef__photo {
      position: absolute;
      top: -40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: url(../images/art-of-cakes/chef.jpg) no-repeat;
      background-size: 250%;
      background-position: -33px 0px; }

.blockquote {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .blockquote__quote {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Times New Roman", serif;
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: rgba(86, 83, 76, 0.5);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .blockquote__text {
    margin-top: -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    max-width: 48%;
    font-family: "Scriptina", sans-serif;
    color: #a47d5e;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    word-spacing: 13.5px; }
  .blockquote__quote.rotate {
    margin-top: 100px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center; }
  .gallery__photo {
    position: relative;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 250px;
    height: 100%;
    max-width: 295px;
    width: 100%;
    overflow: hidden; }
    .gallery__photo:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out; }
    .gallery__photo:hover .gallery__photo__border {
      opacity: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .gallery__photo__border {
      position: absolute;
      margin-left: 5px;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      border: 5px solid white;
      -ms-flex-item-align: center;
      align-self: center;
      opacity: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .gallery__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    height: 105%;
    width: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .gallery__image.bottom-left {
      height: 140%; }
  .gallery__text__bg {
    position: absolute;
    right: calc(50% - (270px / 2));
    z-index: 8;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    height: 290px;
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../images/art-of-cakes/gallery-text-bg.png) center no-repeat; }
  .gallery__text {
    margin-bottom: 10px;
    margin-left: 9px;
    z-index: 10;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36%;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: "Alegreya", serif;
    text-transform: uppercase;
    color: #c9b176;
    font-size: 32px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0.4px; }

.card {
  position: absolute;
  z-index: 11;
  top: -8%;
  right: -104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: "Alegreya", serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  background: url(../images/common/card-background.png) no-repeat;
  background-position: left bottom;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4); }
  .card__title {
    margin-top: 18px;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    font-size: 18px;
    color: #b2927a;
    text-transform: uppercase;
    -webkit-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    transform: scaleX(1.2); }
  .card__value {
    width: 100%;
    font-size: 92px;
    color: #dfc691;
    letter-spacing: 7px;
    margin-left: 10px; }
  .card__text {
    margin-top: -30px;
    width: 100%;
    font-size: 18px;
    color: #979285;
    -webkit-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    transform: scaleX(1.2); }

.rating {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 760px;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../images/rating/rating-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; }
  .rating__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1260px;
    min-height: 760px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .rating__pad {
    position: absolute;
    top: 140px;
    left: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 965px;
    width: 100%;
    max-height: 512px;
    height: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); }
  .rating__backgrounds {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: inherit;
    max-width: inherit;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden; }
  .rating__bg {
    width: 95%;
    height: auto;
    margin-left: -331px; }
  .rating__stars.orange {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: orange; }

.rating__article {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  max-width: 545px;
  width: 100%;
  height: 512px;
  background-color: white;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); }
  .rating__article:after {
    position: absolute;
    z-index: 11;
    right: -29px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 290px;
    height: 290px;
    content: "";
    background: url(../images/common/rating-windmill.png) no-repeat; }
  .rating__article__wrapper {
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: flex-start; }
  .rating__article__title {
    margin: 75px 0px 0px 23px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-family: "Alegreya", serif;
    font-weight: bold;
    color: #56534c;
    font-size: 48px;
    -webkit-transform: scaleX(1.08);
    -ms-transform: scaleX(1.08);
    transform: scaleX(1.08); }
    .rating__article__title.small {
      margin: 11px 0px 40px 45px;
      color: #a47d5e;
      font-size: 14px;
      text-transform: uppercase;
      -webkit-transform: scaleX(1.175);
      -ms-transform: scaleX(1.175);
      transform: scaleX(1.175); }
  .rating__article__text {
    margin: 21px 0px 100px -10px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: "ProximaNova", serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px; }

.interactive {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .interactive__button {
    position: absolute;
    z-index: 100;
    bottom: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url(../images/rating/button-arrow-sprite.png) no-repeat;
    background-size: auto 115%;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .interactive__button:hover {
      background-color: rgba(216, 187, 163, 0.3);
      border: 2px solid black;
      -webkit-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
    .interactive__button:focus {
      outline: none; }
    .interactive__button:active {
      background-color: white; }
    .interactive__button.prev {
      left: 5px;
      background-position: -1px -1px;
      border: 2px solid #d8bba3; }
    .interactive__button.next {
      right: 7px;
      background-position: -34px -1px;
      border: 2px solid #56534c; }
      .interactive__button.next:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      .interactive__button.next:active {
        background-color: rgba(0, 0, 0, 0.55); }
  .interactive__previews {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    overflow: hidden; }
  .interactive__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%; }
    .interactive__preview.preview1 {
      left: 50px;
      background: url(../images/rating/slide-4.jpg) center;
      background-size: auto 170%;
      background-position: -59px -29px; }
    .interactive__preview.preview2 {
      background: url(../images/rating/slide-1.jpg) center;
      background-size: auto 150%;
      background-position: -20px -20px; }
    .interactive__preview.preview3 {
      right: 55px;
      background: url(../images/common/jibarito-sandwich.jpg) center;
      background-size: auto 323%;
      background-position: 556px -123px; }
    .interactive__preview.preview4 {
      background: url(../images/rating/slide-3.jpg) center;
      background-position: -239px -480px;
      background-size: auto 322%; }

.js-rating-bullets {
  position: absolute;
  bottom: -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .js-rating-bullets li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d8bba3; }
    .js-rating-bullets li button {
      display: none; }
  .js-rating-bullets .slick-active {
    height: 8px;
    width: 8px;
    border: 1px solid #a47d5e;
    background-color: white; }

.breakfast-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 760px;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../images/breakfast-menu/breakfast-menu-background.jpg) no-repeat;
  background-size: 107% auto;
  background-position: -52px -183px; }
  .breakfast-menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1260px;
    width: 100%;
    max-height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .breakfast-menu__prices {
    margin-left: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 80px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .breakfast-menu__title {
    margin-top: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: "Alegreya", serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 60px; }
    .breakfast-menu__title.small {
      margin-top: 5px;
      margin-bottom: 30px;
      font-size: 18px;
      text-transform: uppercase;
      color: #c8a593;
      letter-spacing: 1.4px; }
  .breakfast-menu__name {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    letter-spacing: 1.7px; }
    .breakfast-menu__name.last {
      margin-top: 40px; }
  .breakfast-menu__descr {
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "ProximaNova", serif;
    font-size: 16px;
    color: #c2beba;
    letter-spacing: 0.8px; }
    .breakfast-menu__descr.last {
      margin-top: 15px; }
  .breakfast-menu__price {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Alegreya", serif;
    font-size: 36px;
    color: #dfc691;
    letter-spacing: 1.4px; }
    .breakfast-menu__price.last {
      margin-top: 25px; }
    .breakfast-menu__price-after {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: -30px;
      opacity: 0.3;
      background: url(../images/breakfast-menu/price-background.png) no-repeat;
      max-width: 90px;
      width: 100%;
      max-height: 27px;
      height: 100%;
      background-position: center; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap; }
  .info__background {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 70%;
    max-height: 600px;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f3f1e9;
    -ms-flex-item-align: center;
    align-self: center; }
    .info__background__border {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: calc(100% - 20px);
      max-height: calc(100% - 20px);
      width: 100%;
      height: 100%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      border: 1px dashed #9e9c93; }
  .info__header {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .info__title {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Alegreya", serif;
    font-size: 14px;
    color: #56534c; }
    .info__title:first-child {
      margin-left: 20px; }
    .info__title:last-child {
      margin-right: 20px; }
  .info__object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90%;
    width: 100%;
    max-height: 65px;
    height: 100%;
    background: url(../images/breakfast-menu/info-file-object.png) no-repeat center;
    background-size: 100% auto; }
  .info__file-title {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    text-align: center;
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 44px;
    color: #56534c;
    line-height: 60px;
    letter-spacing: 1.5px; }
  .info__file-text {
    margin-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    font-family: "ProximaNova", serif;
    font-size: 14px;
    color: #56534c;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.7px; }
  .info__button {
    margin-top: 43px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 45%;
    max-height: 50px;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 18px;
    font-family: "Alegreya", serif;
    font-weight: bold;
    color: #a47d5e;
    background: transparent;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .info__button:hover {
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      background: #fff;
      -webkit-box-shadow: 0 0 10px;
      box-shadow: 0 0 10px; }
  .info__file-background {
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    max-height: 210px;
    width: 100%;
    height: 100%;
    background: url(../images/breakfast-menu/info-file-background.png) no-repeat;
    background-size: cover;
    background-position: 60px 53px; }

.card {
  position: absolute;
  z-index: 11;
  top: -8%;
  right: -104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: "Alegreya", serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  background: url(../images/common/card-background.png) no-repeat;
  background-position: left bottom;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4); }
  .card__title {
    margin-top: 18px;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    font-size: 18px;
    color: #b2927a;
    text-transform: uppercase;
    -webkit-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    transform: scaleX(1.2); }
  .card__value {
    width: 100%;
    font-size: 92px;
    color: #dfc691;
    letter-spacing: 7px;
    margin-left: 10px; }
  .card__text {
    margin-top: -30px;
    width: 100%;
    font-size: 18px;
    color: #979285;
    -webkit-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    transform: scaleX(1.2); }

.jibarito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 900px;
  background-color: #f3f1e9; }
  .jibarito__global-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    max-width: 1260px;
    min-height: 900px;
    overflow: hidden; }
  .jibarito__title {
    margin-top: 95px;
    position: absolute;
    font-family: "Alegreya", serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #56534c;
    -webkit-transform: scaleX(1.08);
    -ms-transform: scaleX(1.08);
    transform: scaleX(1.08); }
    .jibarito__title.small {
      margin-top: 154px;
      z-index: 11;
      font-size: 14px;
      color: #a47d5e;
      text-transform: uppercase;
      -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
      transform: scaleX(1.2); }
  .jibarito__bg-object {
    position: absolute;
    margin-top: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 120px;
    width: 100%;
    background: url(../images/common/rating-windmill.png) no-repeat center;
    background-size: auto 100%; }
  .jibarito__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1260px;
    min-height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .jibarito__sandwich__wrapper {
    margin-left: 33.3%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 66.6%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .jibarito__back {
    margin-top: 168px;
    height: 535px;
    width: 100%;
    border: 10px solid white;
    background: url(../images/common/jibarito-sandwich.jpg) no-repeat;
    background-size: auto 108%;
    background-position: -6px -23px;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .jibarito__back:hover {
      background-size: auto 115%;
      background-position: 100% 15%;
      -webkit-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
      .jibarito__back:hover .jibarito__back__info {
        opacity: 0;
        -webkit-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out; }
      .jibarito__back:hover .jibarito__back__button {
        left: 40%;
        bottom: 40%;
        border: none;
        border-radius: 20px;
        -webkit-box-shadow: 0 0 80px white;
        box-shadow: 0 0 80px white;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.8s ease-out;
        -o-transition: all 0.8s ease-out;
        transition: all 0.8s ease-out; }
    .jibarito__back__button {
      position: absolute;
      z-index: 15;
      bottom: 70px;
      left: -22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 168px;
      height: 60px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: white;
      border: 1px dashed #a47d5e;
      color: #a47d5e;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
    .jibarito__back__info {
      position: absolute;
      z-index: 10;
      right: 10px;
      bottom: 65px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      width: 200px;
      height: 600px;
      opacity: 1;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .jibarito__card {
    position: static;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
    .jibarito__card.no-image {
      background-image: none;
      background-color: white;
      opacity: .8; }
      .jibarito__card.no-image .card__value {
        font-size: 60px;
        color: #56534c; }

.jibarito__aside {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .jibarito__aside__item {
    margin-top: 162px;
    margin-bottom: -110px;
    width: 80%; }
  .jibarito__aside__icons {
    margin-bottom: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%px;
    height: 100px; }
  .jibarito__aside__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: -45px; }
    .jibarito__aside__icon.class {
      background: url(../images/jibarito/icon1.jpg) no-repeat 100%;
      background-size: auto 100%; }
    .jibarito__aside__icon.nulla {
      background: url(../images/jibarito/icon2.jpg) no-repeat 100%;
      background-size: auto 100%; }
    .jibarito__aside__icon.purus {
      background: url(../images/jibarito/icon3.jpg) no-repeat 100%;
      background-size: auto 100%; }
  .jibarito__aside__title {
    margin-left: -47px;
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #a47d5e;
    -webkit-transform: scaleX(1.08);
    -ms-transform: scaleX(1.08);
    transform: scaleX(1.08); }
  .jibarito__aside__text {
    margin-top: 21px;
    margin-left: -12px;
    width: 93%;
    font-family: "ProximaNova", serif;
    font-size: 14px;
    color: #56534c;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.4px; }

.logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: "Scriptina", sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  letter-spacing: 8.9px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f3f1e9; }
  .footer__wrapper {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1260px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__right {
    max-width: 515px;
    widows: 100%; }
  .footer__left {
    max-width: 515px;
    width: 100%; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 515px;
    height: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #c2beba;
    border-bottom: 1px solid #c2beba;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .footer__list:hover {
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .footer__list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none;
      font-family: "Alegreya", serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 4.5px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .footer__list__item:hover {
        background-color: #f3f1e9;
        border-radius: 25px;
        -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #56534c; }
  .footer__logo {
    color: #56534c;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
    .footer__logo:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 0 50px white;
      box-shadow: 0 0 50px white;
      margin-bottom: 20px;
      -webkit-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      -webkit-transition-delay: 0.8s;
      -o-transition-delay: 0.8s;
      transition-delay: 0.8s; }
