.breakfast-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: $heightofblock;
  align-self: center;
  justify-content: center;
  background: url(../images/breakfast-menu-background.jpg) no-repeat;
  background-size: 107% auto;
  background-position: -52px -183px;
  
  &__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: $max-width;
    width: 100%;
    max-height: 100%;
    justify-content: center;
  }

  &__prices {
    margin-left: 85px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: calc(50% - 80px);
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    margin-top: 85px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    color: $white;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-self: center;
    font-family: $Alegreya;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 60px;

    &.small {
      margin-top: 5px;
      margin-bottom: 30px;
      font-size: 18px;
      text-transform: uppercase;
      color: #c8a593;
      letter-spacing: 1.4px;
    }
  }

  &__name {
    margin-top: 35px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    font-family: $Alegreya;
    font-weight: bold;
    font-size: 30px;
    color: $white;
    letter-spacing: 1.7px;

    &.last {
      margin-top: 40px;
    }
  }


  &__descr {
    margin-top: 12px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    font-family: $Proxima;
    font-size: 16px;
    color: #c2beba;
    letter-spacing: 0.8px;

    &.last {
      margin-top: 15px;
    }
  }

  &__price {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-family: $Alegreya;
    font-size: 36px;
    color: #dfc691;
    letter-spacing: 1.4px;

    &.last {
      margin-top: 25px;
    }

    &-after  {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      position: absolute;
      bottom: -30px;
      opacity: 0.3;
      background: url(../images/price-background.png) no-repeat;
      max-width: 90px;
      width: 100%;
      max-height: 27px;
      height: 100%;
      background-position: center;
    }
  }
}

.info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 50%;
  width: 100%;
  height: 100%;
  flex-flow: row-reverse wrap;

  &__background {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 70%;
    max-height: 600px;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #f3f1e9;
    align-self: center;

    &__border {
      margin-top: 10px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      max-width: calc(100% - 20px);
      max-height: calc(100% - 20px);
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column wrap;
      border: 1px dashed #9e9c93;
    }
  }

  &__header {
    margin-top: 40px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: flex-end;
  }

  &__title {
    margin: 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 50%;
    width: 100%;
    justify-content: center;
    font-family: $Alegreya;
    font-size: 14px;
    color: $dark;

    &:first-child {
      margin-left: 20px;
    };
    &:last-child {
      margin-right: 20px;
    }
  }

  &__object {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 90%;
    width: 100%;
    max-height: 65px;
    height: 100%;
    background: url(../images/info-file-object.png) no-repeat center;
    background-size: 100% auto;
  }

  &__file-title {
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 85%;
    text-align: center;
    font-family: $Alegreya;
    font-weight: bold;
    font-size: 44px;
    color: $dark;
    line-height: 60px;
    letter-spacing: 1.5px;
  }

  &__file-text {
    margin-top: 31px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 85%;
    font-family: $Proxima;
    font-size: 14px;
    color: $dark;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.7px;
  }

  &__button {
    margin-top: 43px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 45%;
    max-height: 50px;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 18px;
    font-family: $Alegreya;
    font-weight: bold;
    color: $protone;
    background: transparent;
    letter-spacing: 1px;
  }

  &__file-background {
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 230px;
    max-height: 210px;
    width: 100%;
    height: 100%;
    background: url(../images/info-file-background.png) no-repeat;
    background-size: cover;
    background-position: 60px 53px;
  }
}
