.header {
  @extend %flex;
  background-image: url(../images/header_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  $block: &;
  .container {
    width: $max-width;
    width: 100%;
    @extend %flex;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 900px;
    height: 100%;
    & * {
      @extend %flex;
      align-self: center;
      color: $white;
    }
    #{$block}__header {
      font-family: $Playfair;
      font-size: 50px;
      margin: 70px;
    }
    #{$block}__text {
      font-family: $Proxima;
      font-size: 25px;
      margin: 20px;
      text-align: center;
    }
    #{$block}__button {
      border: 1px dashed;
      text-transform: uppercase;
      height: 50px;
      width: 200px;
      letter-spacing: 3px;
      background-color: $background-dark;
      font-family: 'Alegreya-Bold';
      margin: 15px;
      justify-content: center;
    }
  }
}
