body { position: relative; }

.menu {
  $menu-height: 70px;
  $block: &;
  position: fixed;
  z-index: 1000;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: $menu-height;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: $background-dark;

  &__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: $max-width;
    width: 100%;
    height: $menu-height;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: $menu-height;
    align-items: baseline;
    font-family: $Scriptina;
    font-size: 30px;
    color: $white;
    line-height: 60px;
    letter-spacing: 8.9px;
  }

  .navigation {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: $menu-height;
    max-width: 770px;
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-between;

    &__item {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      height: $menu-height;
    }

    &__link {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      max-height: 100%;
      height: 100%;
      max-width: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-family: $Alegreya;
      font-size: 14px;
      letter-spacing: 3.99px;
      text-transform: uppercase;
      color: $white;
      text-decoration: none;
      list-style: none;
    }

    &__decor {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  .social-media {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: $menu-height;

    &__link {
      margin-left: 18px;
      margin-top: 3px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      min-width: 20px;
      height: $menu-height;
      align-items: center;
      justify-content: center;
      background-image: url(../images/social-media.png);
      background-size: 500% auto;
      background-repeat: no-repeat;

      &.twitter {
        background-position: 0;
        margin-left: 52px;
      }

      &.facebook { background-position: -18px; }

      &.instagram {background-position: -34px; }
    }
  }
}
