$rating-width: 965px;

.rating {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-height: 760px;
  height: 100%;
  justify-content: center;
  background: url(../images/rating-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;

  &__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: $max-width;
    max-height: inherit;
    justify-content: center;
  }

  &__pad {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: $rating-width;
    width: 100%;
    max-height: 512px;
    height: 100%;
    align-self: center;
    justify-content: center;
    flex-flow: row-reverse wrap;
  }

  &__backgrounds {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-height: inherit;
    max-width: inherit;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
  }

  &__bg {
    width: 100%;
    height: auto;
  }

  &__stars.orange {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: orange;
  }

  &__article {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    z-index: 10;
    background-color: white;
    max-width: 545px;
    width: 100%;
    height: 512px;

    &__title {
      margin: 15px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      width: 100%;
      font-family: $Alegreya;
      font-weight: bold;
      color: $dark;
      font-size: 40px;

      &.small {
        color: $protone;
        font-size: 20px;
      }
    }

    &__text {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      width: 75%;
      align-self: center;
      font-family: $Proxima;
    }
  }
}

.interactive {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  justify-content: space-around;

  &__button {
    position: absolute;
    bottom: 50px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid $dark;
    border-radius: 50%;

    &.prev {
      border: 2px solid #d8bba3;
      left: 50px;
    }

    &.next {
      right: 50px;
    }
  }

  &__preview {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;

    &.preview1 {
      background: url(../images/jibarito-sandwich.jpg) center cover;
    }

    &.preview2 {
      background: url(../images/slide-3.jpg) center cover;
    }

    &.preview3 {
      background: url(../images/slide-4.jpg) center cover;
    }
  }

  &__bullets {
    display: flex;
    width: 100%;
    justify-content: center;

    &__bullet {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #d8bba3;
    }
  }
}

.active {
  background-color: white;
  border: 1px solid $protone;
}
