.registration {
  position: fixed;
  top: 250px;
  z-index: 999;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 230px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 150px black;
  box-shadow: 0 0 150px black;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .registration.active {
    opacity: 1;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .registration__email {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .registration__input-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    border-radius: 15px;
    text-align: center; }
  .registration__password {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .registration__input-password {
    width: 90%;
    border-radius: 15px;
    text-align: center; }
  .registration__card-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%; }
  .registration__input-card-number {
    width: 100%;
    border-radius: 15px;
    text-align: center; }
  .registration__cvc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%; }
  .registration__input-cvc {
    width: 100%;
    border-radius: 15px;
    text-align: center; }
  .registration__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    border-radius: 15px; }
  .registration__button-close {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    border: none;
    border-top-right-radius: 25px;
    background-color: red;
    cursor: pointer; }
