@import "../../common/logo.scss";
$border-color: #c2beba;

.footer {
  display: flex;
  justify-content: center;
  background-color: #f3f1e9;

  &__wrapper {
    margin-top: 120px;
    display: flex;
    width: $max-width;
    justify-content: space-between;
  }

  &__right {
    max-width: 515px;
    widows: 100%;
  }

  &__left {
    max-width: 515px;
    width: 100%;
  }

  &__list {
    display: flex;
    min-width: 515px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    transition: all 1s ease-in-out;

    &:hover {
      background-color: rgba(0,0,0,0.1);
      box-shadow: 0 0 100px rgba(0,0,0,0.3);
      transition: all 1s ease-in-out;
    }

    &__item {
      display: flex;
      height: 100%;
      align-items: center;
      list-style: none;
      font-family: $Alegreya;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 4.5px;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: #f3f1e9;
        border-radius: 25px;
        box-shadow: 0 0 50px rgba(255,255,255,0.7);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &__link {
    display: flex;
    text-decoration: none;
    height: 100%;
    align-items: center;
    color: $dark;
  }

  &__logo {
    color: $dark;
    align-items: center;
    transition: all 0.8s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 50px rgba(255,255,255,1);
      margin-bottom: 20px;
      transition: all 0.8s ease-in-out;
      transition-delay: 0.8s;
    }
  }
}
