.blockquote {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;

  &__quote {
    margin-top: 20px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    font-family: $Times;
    align-self: flex-start;
    color: rgba(86,83,76,0.5);
    transform: rotate(180deg);
  }

  &__text {
    margin-top: -25px;
    display: flex;
    align-self: center;
    max-width: 48%;
    font-family: $Scriptina;
    color: #a47d5e;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
word-spacing: 13.5px;
  }

  &__quote.rotate {
    margin-top: 100px;
    align-self: flex-end;
    transform: scale(1,1);
  }
}
