
$Alegreya: 'Alegreya',serif;
$Scriptina: 'Scriptina', sans-serif;
$Playfair: 'PlayfairDisplay', serif;
$Proxima: 'ProximaNova', serif;
@font-face {
  font-family: 'Alegreya';
  src:url(../fonts/Alegreya-Regular.ttf);
}
@font-face {
  font-family: 'Scriptina';
  src:url(../fonts/SCRIPTIN.ttf);
}
@font-face {
  font-family: 'PlayfairDisplay';
  src:url(../fonts/PlayfairDisplay-Bold.ttf);
};
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Regular.ttf);
}
@font-face {
  font-family: 'Alegreya-Bold';
  src: url(../fonts/Alegreya-Bold.ttf);
}
