$block-height: 900px;

.jibarito {
  $jibarito: &;
  display: flex;
  justify-content: center;
  min-height: $block-height;
  background-color: #f3f1e9;

  &__global-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: $max-width;
    min-height: $block-height;
    overflow: hidden;
  }

  &__title {
    margin-top: 95px;
    position: absolute;
    font-family: $Alegreya;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: $dark;
    transform: scaleX(1.08);

    &.small {
      margin-top: 154px;
      z-index: 11;
      font-size: 14px;
      color: $protone;
      text-transform: uppercase;
      transform: scaleX(1.2);
    }
  }

  &__bg-object {
    position: absolute;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    min-height: 120px;
    width: 100%;
    background: url(../images/common/rating-windmill.png) no-repeat center;
    background-size: auto 100%;
  }

  &__wrapper {
    position: relative;
    display: flex;
    width: $max-width;
    min-height: inherit;
    flex-flow: row nowrap;
  }

  &__sandwich__wrapper {
    margin-left: 33.3%;
    position: relative;
    display: flex;
    width: 66.6%;
    justify-content: center;
    align-items: center;
  }

  &__back {
    margin-top: 168px;
    height: 535px;
    width: 100%;
    border: 10px solid $white;
    background: url(../images/common/jibarito-sandwich.jpg) no-repeat;
    background-size: auto 108%;
    background-position: -6px -23px;
    transition: all 0.8s ease-in-out;

    &:hover {
      border: 0px solid white;
      transition: all 1s ease-in-out;
    }

    &:hover &__info {
      opacity: 0;
      transition: all 1s ease-in-out;
    }

    &:hover &__button {
      bottom: 38%;
      left: 40%;
      background-color: $white;
      transform: scale(1.2);
      box-shadow: 0 0 25px rgba(255,255,255, 0.7);
      border: none;
      border-radius: 10px;
      transition: all 1s ease-in-out;
    }

  &__button {
    position: absolute;
    z-index: 15;
    bottom: 70px;
    left: -22px;
    display: flex;
    width: 168px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $white;
    border: 1px dashed $protone;
    color: $protone;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }

  &__info {
    position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 65px;
    flex-flow: column wrap;
    width: 200px;
    height: 600px;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
}

  @import "../common/card.scss";

  &__card {
    $card: &;
    position: static;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    &.no-image {
      background-image: none;
      background-color: $white;
      opacity: .8;
      #{$card}__value {
        font-size: 60px;
        color: $dark;
      }
    }
  }
}
